{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!
{% endblock %}

{% block body %}

	{% if lignes_paniers | length > 0 %}
		<table
			class="table table-hover">
			{# En-tête tableau #}
			<thead class="thead-light">
				<tr>
					<th colspan="2" class="text-center">Article Designation</th>
					<th class="text-center">Prix unitaire TTC</th>
					<th class="text-center">Quantity</th>
					<th class="text-center">Prix TTC</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for ligne_panier in lignes_paniers %}
					<tr>
						<td class="text-success text-center">{{ligne_panier.getLibelleArticle}}</td>
						{# Prix Unitaire #}
						<td class="text-success text-center">{{ligne_panier.getPrixTtcArticle}}€</td>
						<td></td>
						<td>
							{{ app.session.get('panier').getLignesPanier[ligne_panier.getId] }}</td>
						<td>
							{{ (ligne_panier.getPrixTtcArticle * app.session.get('panier').getLignesPanier[ligne_panier.getId]) }}
							€
						</td>
						<td></td>
						{# Articles Image + nom #}
					</tr>
				</td>

			{% endfor %}
			{# Quantité #}
		</tbody>
	</table>
	{% if total_quantite is defined %}
		<p>Quantité total articles=
			{{total_quantite}}
		</p>
	{% endif %}
	<p>
		Montant =
		{{Montant_total}}
		€
	</p>
{% else %}
	<div class="card text-center">
		<div class="card-header">
			Info
		</div>
		<div class="card-body">
			<h5 class="card-title">Votre panier est vide</h5>
			<p class="card-text">Votre panier est vide.</p>
			<a href="#" class="btn btn-primary">Boutique</a>
		</div>

	</div>
</div>{% endif %}{% endblock %}
