{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
<div id="formulaire_connexion">
	<form class="form-signin" method="post">
		{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		{% if app.user %}
		<div class="mb-3">
			Vous êtes connecté en tant que
			{{ app.user.username }},
			<a href="{{ path('app_logout') }}">Se déconnecter</a>
		</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
		<label for="inputEmail_utilisateur" class="sr-only">Adresse e-mail</label>
		<input type="email" name="email_utilisateur" value="{{ last_username }}" id="inputEmail_utilisateur"
			class="form-control" placeholder="Adresse e-mail" required="" autofocus=""
			style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"
			autocomplete="off">
		<label for="inputPassword" class="sr-only">Mot de passe</label>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
			required=""
			style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"
			autocomplete="off">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<div class="checkbox mb-3">
			<!-- <label>
				<input type="checkbox" value="remember-me"> Remember me
			</label> -->
		</div>
		<p>Pas encore inscrit,
			<a href="{{ path('app_register')}}">cliquez ici</a>
			pour créer un compte</p>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
	</form>
</div>



{% endblock %}