{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateursController!
{% endblock %}

{% block body %}
	<h1>Ajouter des informations</h1>

	{{ form_start(userForm) }}
	{{ form_row(userForm.civilite_utilisateur, {
            label: 'Utilisateur civilite_utilisateur'
        }) }}
	{{ form_row(userForm.nom_utilisateur) }}
	{{ form_row(userForm.prenom_utilisateur) }}
	{{ form_row(userForm.adresse_utilisateur) }}
	{{ form_row(userForm.cp_utilisateur) }}
	{{ form_row(userForm.ville_utilisateur) }}

	<button type="submit" class="btn btn-primary">Update!</button>
	{{ form_end(userForm) }}

{% endblock %}
