{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de votre commande
{% endblock %}

{% block body %}
{% if lignes_panier | length > 0 %}
<div class="container-fluid">
	<h2 class="text-center">Récapitulatif</h2>
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			{# En-tête tableau #}
			<tr style="width:100%">
				<th>Produits</th>
				<th>Prix</th>
				<th>Quantité</th>
				<th class="text-center">Sous-total</th>
				<th style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			{% for ligne_panier in lignes_panier %}
			<tr>
				<td data-th="Produits">
					<div class="row mx-auto my-auto d-flex align-items-start flex-column">
						<div class="col-sm-2 hidden-xs"><img src="{{asset('img/' ~ ligne_panier.getImageArticle)}}"
								alt="..." class="" style="width: 100px; height: 100px" /></div>
						<div class="col-sm-10">
							<h4 class="nomargin">{{ligne_panier.getLibelleArticle}}</h4>
							<p>{{ligne_panier.getDescriptionArticle}}.</p>
						</div>
					</div>
				</td>
				<td data-th="Prix">{{ligne_panier.getPrixTtcArticle}}€</td>
				<td data-th="Quantité">

					{{ app.session.get('panier').getLignesPanier[ligne_panier.getId] }}

				</td>
				<td data-th="Sous-total" class="text-center">
					{{ (ligne_panier.getPrixTtcArticle * app.session.get('panier').getLignesPanier[ligne_panier.getId]) }}
					€</td>

			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr class="visible-xs">
				<td class=""><strong>Livré à : {{ adresse_livraison.getNomContact }}
						{{ adresse_livraison.getPrenomContact }}
						<br>{{adresse_livraison.getAdresseContact}} {{adresse_livraison.getCpContact}}
						{{adresse_livraison.getVilleContact}}</strong></td>
				<td class=""><strong>Type de livraison : {{ type_livraison.getLibelleLivraison}}</strong>
				</td>
				<td class=""><strong>Frais de livraison : {{ type_livraison.getFraisLivraison}} €</strong>
				</td>
				<td class=""><strong>Délais de livraison : {{ type_livraison.getDelaiLivraison}}
						jours</strong>
				</td>
			</tr>

			<tr>
				<td><a href="{{ path('articles')}}" class=" btn btn-warning"><i class="fa fa-angle-left"></i>Retourner à
						mon panier</a></td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center"><strong>Total : {{total}} €</strong></td>
				<td><a href="{{ path('new_commande')}}" class="btn btn-success btn-block">Valider ma commande<i
							class="fa fa-angle-right"></i></a></td>
			</tr>
		</tfoot>
	</table>

	{% else %}
	<div class="panier mx-auto py-5 w-75 border border-light rounded text-center">
		<h5 class="mb-5">Votre panier est vide</h5>
		<a href="{{ path('articles')}}" class=" btn btn-warning"><i class="fa fa-angle-left"></i>Continuer
			mes achats</a>
	</div>
	{% endif %}
</div>
{% endblock %}