{% extends 'base.html.twig' %}

{% block title %}Hello CommandesController!
{% endblock %}

{% block body %}
<h1>Ma commande</h1>
{% for adresse_livraison in adresses_livraison %}
	<h3>Livré à :
		{{ adresse_livraison.getNomContact }}
		{{ adresse_livraison.getPrenomContact }}
	</h3>
	<h2>
		{{adresse_livraison.getAdresseContact}}</h2>
	<h2>
		{{adresse_livraison.getCpContact}}
		{{adresse_livraison.getVilleContact}}
	</h2>
{% endfor %}
<h3>Type de livraison :
	{{ type_livraison }}
</h3>
{% if lignes_panier | length > 0 %}
	<table
		class="table table-hover">
		{# En-tête tableau #}
		<thead class="thead-light">
			<tr>
				<th colspan="2" class="text-center">Article Designation</th>
				<th class="text-center">Prix unitaire TTC</th>
				<th class="text-center">Quantity</th>
				<th class="text-center">Prix TTC</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for ligne_panier in lignes_panier %}
				<tr>
					<td class="text-success text-center">{{ligne_panier.getLibelleArticle}}</td>
					{# Prix Unitaire #}
					<td class="text-success text-center">{{ligne_panier.getPrixTtcArticle}}€</td>
					<td></td>
					<td>
						{{ app.session.get('panier').getLignesPanier[ligne_panier.getId] }}</td>
				</tr>
			</td>
			<td>
				{{ (ligne_panier.getPrixTtcArticle * app.session.get('panier').getLignesPanier[ligne_panier.getId]) }}
				€
			</td>
			<td></td>
			{# Articles Image + nom #}
		</tbody>
	</tr>
</td>{% endfor %}{# Quantité #}</tbody></table>{% endif %}<h2>Sous-total :{{ montant_panier }}€</h2><h2>Frais de livraison :{{ frais_de_livraison }}€</h2><h1>Total :{{ total }}{% endblock %}
